*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}

header {
background-color: grey;

 color: black;
}

ul {
  
    list-style: none;
    display: flex;
    float: right;    

}

.hero{
    width: 100%;
    height: 500px;
    background-image: url(../images/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.fotos{
    width: 100%;
    height: 500px;
}
.hero{
    text-align: center;
       justify-content: center;
    align-items: center;
}